

body { font-family: Georgia; 
        color: #444; 
        background-color:#f5f5f5;
        
    }
h1 { font-size: 48px; text-transform: uppercase; letter-spacing: 3px; }
h2 { font-size: 152% }
h3, h4 { font-size: 122%; }





.row{ 
    margin-top: 1px;
    margin-bottom: 1px;
    margin-right: 200px;
    margin-left: 200px;
}

.container_main { 
    background-color:white;
    height:100%;
    width: 60vw;
}



.headshot {
    width:100%;
    height:auto;
}

.section_header {
    font-weight: bold;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.card-header {
    font-weight: bold;
    font-size:130%;
}

.card {
    margin-top:5px;
}



.listbullet {
    font-size:65%;
    margin-top:0px;
}

li { 
    margin: 0px;
}

ul {
    list-style: '⇒';
    font-size: 200%;
  }

.atom_task {
    margin-top:5px;
    margin-bottom:10px;
    font-size:140%;
}

.skilllist {
    font-size:120%;
}

@media print {
    .container_main { 
        height:100%;
        width:100vw;
    }

    h1 { 
        font-weight:bold;
        font-size:120%
    }
    body,h2,h4,h5{
        font-size:100%;
    }
    img {
        width:300%;
        height:auto;
    }

    .listbullet {
        font-size:50%;
    }

    .skilllist {
        font-size:60%;
    }

    .card {
        height: 30%;
        font-size:50%;
        margin : 0;
    }
 }